/*✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  justify-content: center;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  background: repeating-linear-gradient(
      90deg,
      var(--bg-grad-1) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-grad-1) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--bg-grad-2) 0%,
      var(--bg-grad-2) 0.01%,
      var(--bg-grad-3) 100%
    );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-wght-text);
}

.content {
  inline-size: clamp(23.438rem, 16.329rem + 30.329vw, 43.625rem);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px 100px;
  border: 2px solid var(--accent-color);
  padding-inline: 2px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background: var(--themes-bg);
}

.header__link {
  margin-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  margin-block-end: 20px;
  outline: none;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-inline-start: 20px;
  padding-block: 22px;
  font-size: 14px;
}

.theme-menu__button:disabled,
.theme-menu__item:focus,
.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button,
.theme-menu__button:hover,
.card__like-button,
.footer__button {
  transition: 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  animation: shift 0.5s ease-in-out infinite alternate;
  inset-inline-end: 95px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  margin-block-end: -2px;
  opacity: 0.6;
  background: var(--accent-color);
  transition: width 0.5s;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.theme-menu__button {
  text-transform: inherit;
}

.card {
  margin-block-end: 50px;
  border: 2px solid var(--accent-color);
  background: var(--themes-bg);
}

.card__title {
  padding-inline: 10px;
  padding-block: 5px;
  font-size: inherit;
  font-variation-settings: "wght" var(--font-wght-title);
}

.image-contain {
  position: relative;
}

.label {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--themes-bg), 0 1px var(--themes-bg),
    1px 0 var(--themes-bg), 0 -1px var(--themes-bg);
  mix-blend-mode: hard-light;
  inset-block-start: clamp(1.438rem, 1.291rem + 0.623vw, 1.563rem);
  inset-inline-end: clamp(0.688rem, -0.335rem + 4.361vw, 1.563rem);
}

@supports (
  (text-stroke: 1px var(--themes-bg)) or
    (-webkit-text-stroke: 1px var(--themes-bg))
) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-bg);
    text-stroke: 1px var(--themes-bg);
  }
}

.image {
  display: block;
  border-block: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.bright {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(150%);
}

.multy-filter {
  filter: opacity(0.5) contrast(135%);
}

.saturate {
  filter: saturate(150%);
}

.sepia {
  filter: sepia(60%);
}

.invert {
  filter: invert(0.6);
}

.shadow {
  filter: drop-shadow(3px 10px 3px rgba(0, 0, 0, 0.7));
}

.card__text {
  display: grid;
  row-gap: 27px;
  border-block-start: 2px solid var(--accent-color);
  padding-inline: 25px;
  padding-block-start: 25px;
  line-height: 21px; /* 116.667% */
}

.buttons {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  padding-block: 25px;
  gap: 4px;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%; /* 12.6px */
}

.button__text,
.floppy {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  border: 2px solid transparent;
  height: 38px;
  padding: 0;
}

.card__icon-button:focus,
.card__icon-button:focus-visible {
  outline: none;
}

.sparks {
  opacity: 0;
}


.footer {
  display: block;
  margin-block-end: 105px;
  font-family: var(--accent-font);
  text-align: center;
}

.footer__button {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  margin-inline: auto;
  font-size: 14px;
  background: var(--themes-bg);
}

.floppy {
  width: clamp(1.313rem, 1.904rem + -0.657vw, 1.75rem);
  height: clamp(1.313rem, 1.904rem + -0.657vw, 1.75rem);
  fill: var(--accent-color);
}

.dialog[open] {
  padding-block: 0;
  color: var(--accent-color);
  min-inline-size: 341px;
  max-inline-size: 357px;
  inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
  background: var(--themes-bg);
}

.dialog__content {
  margin-inline: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-block: 32px 30px;
}

.dialog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
  block-size: 38px;
  margin-block-end: 30px;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  background: rgb(0 0 0 /0.75);
}

.dialog__text {
  text-align: start;
  inline-size: clamp(12.375rem, 11.583rem + 3.38vw, 14.625rem);
  text-transform: uppercase;
  block-size: 63px;
  font-size: 14px;
  line-height: 150%; /* 21px */
}

.dialog .floppy {
  height: 39px;
  width: 39px;
}

@media (width <= 375px) {
  .card__text {
    border: none;
  }

  .footer__button {
    flex-direction: column;
    margin-inline: auto;
  }
}
