/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --font-wght-text: 400;
  --font-wght-title: 700;
  --bg-grad-1: #d3d3d3;
  --bg-grad-2: #e7e7e7;
  --bg-grad-3: #1a1a1a;
  --accent-color: #000;
  --themes-bg: #FFF;
  --button-color: #fff;
  --heart-color: red;
}
